<?xml version='1.0' encoding='utf-8'?>
<widget id="com.androtin.myapp"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Kpr Calculator</name>
    <description>For Kpr fabrication by tajmul</description>
    <author email="androting23@gmail.com" href="https://github.com/androting23-ui">
        Androting
    </author>

    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="*" />

    <!-- FULLSCREEN -->
    <preference name="Fullscreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />

    <!-- DISABLE SPLASH COMPLETELY -->
    <preference name="SplashScreen" value="none" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="FadeSplashScreen" value="false" />

    <platform name="android">
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="34" />
    </platform>

</widget>
