name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install Cordova
        run: npm install -g cordova

      - name: Install dependencies
        run: npm install

      - name: Clean Android platform
        run: |
          cordova platform remove android || true
          cordova platform add android

      - name: Prepare
        run: cordova prepare android

      - name: Add Android platform
        run: cordova platform add android


      - name: Build APK (debug)
        run: cordova build android
